Repository omc-college/management-system, pull requests merged in 2020-06, with the labels that each got.

#97 Issue-75, handlers and service layers created, bugs fixed, new SQL sсripts created
  api/ims/ims-api.yaml
  cmd/ims/main.go
  go.mod
  pkg/ims/api/handlers/signup_handlers.go
  pkg/ims/api/routers/router.go
  pkg/ims/models/models.go
  pkg/ims/repository/postgresql/credentials_repository.go
  pkg/ims/repository/postgresql/migrations/000005_re-creation_role.down.sql
  pkg/ims/repository/postgresql/migrations/000005_re-creation_role.up.sql
  pkg/ims/repository/postgresql/migrations/000006_change_id.down.sql
  pkg/ims/repository/postgresql/migrations/000006_change_id.up.sql
  pkg/ims/repository/postgresql/signup_repository.go
  pkg/ims/repository/postgresql/type.go
  pkg/ims/repository/postgresql/users_repository.go
  pkg/ims/service/service.go
  pkg/ims/validation/data.go
  pkg/ims/validation/email.go
  pkg/ims/validation/errors.go
Labels: Identity management Service, enhancement

#103 Create codegen example
  cmd/codegen/main.go
Labels: Codegen

#73 issue-69, implemented transactions in repository methods where needed
  cmd/rbacgen/main.go
  go.sum
  pkg/rbac/api/handlers/crud_handlers.go
  pkg/rbac/repository/postgres/postgres.go
  pkg/rbac/repository/postgres/role.go
  pkg/rbac/service/service.go
Labels: RBAC Service, enhancement

#90 issue-89, implemented passing context.Context from middleware to opa
  pkg/rbac/api/middleware/middleware.go
  pkg/rbac/opa/opa.go
Labels: RBAC Service, enhancement

#76 issue-71, implemented user JWT generation
  pkg/jwt/jwt.go
  pkg/jwt/models.go
Labels: Users and Groups Service, enhancement

#88 issue-87, fixed path recognition in authorization.rego
  pkg/rbac/api/middleware/authorizationCache.json
  pkg/rbac/opa/authorization.rego
  pkg/rbac/opa/models.go
  pkg/rbac/opa/opa.go
Labels: RBAC Service, bug, enhancement

#127 issue-120, implemented passing db object to repository constructor
  cmd/rbac/config.go
  cmd/rbac/main.go
  cmd/rbac/rbac-service-example-config.yaml
  cmd/rbacgen/config.go
  cmd/rbacgen/main.go
  cmd/rbacgen/rbacgen-service-example-config.yaml
  pkg/db/config.go
  pkg/rbac/repository/postgres/postgres.go
Labels: RBAC Service, enhancement

#109 issue-108 reset password use case in openAPI spec
  api/ims/ims-api.yaml
Labels: Identity management Service, documentation, enhancement

#128 issue-121, attached suitable and more meaningful messages to errors
  cmd/rbac/main.go
  cmd/rbacgen/main.go
Labels: RBAC Service, enhancement

#132 issue-129, refactored GetDecision func in opa package to return error instead of bool
  pkg/rbac/api/middleware/middleware.go
  pkg/rbac/opa/errors.go
  pkg/rbac/opa/opa.go
Labels: RBAC Service, enhancement

#134 issue-130, removed redundant types from opa package
  pkg/rbac/opa/models.go
Labels: RBAC Service, enhancement

#141 issue-136,implemented authorization cache updating module
  pkg/rbac/api/middleware/authorizationCache.json
  pkg/rbac/api/middleware/middleware.go
  pkg/rbac/api/routers/router.go
  pkg/rbac/authcache/authcache.go
  pkg/rbac/authcache/consts.go
  pkg/rbac/authcache/models.go
  pkg/rbac/opa/authorization.rego
  pkg/rbac/opa/models.go
  pkg/rbac/opa/opa.go
  pkg/rbac/repository/postgres/postgres.go
  pkg/rbac/service/service.go
Labels: RBAC Service, enhancement

#145 issue-143, Refactor project packages and folders layout and variables declaration
  cmd/rbac/main.go
  cmd/rbacgen/main.go
  pkg/rbac/api/handlers.go
  pkg/rbac/api/middleware/middleware.go
  pkg/rbac/api/router.go
  pkg/rbac/authcache/consts.go
  pkg/rbac/authcache/models.go
  pkg/rbac/cache.go
  pkg/rbac/middleware.go
  pkg/rbac/models/consts.go
  pkg/rbac/models/error.go
  pkg/rbac/models/role.go
  pkg/rbac/opa/errors.go
  pkg/rbac/opa/models.go
  pkg/rbac/opa/opa.go
  pkg/rbac/repository/postgres/postgres.go
  pkg/rbac/repository/postgres/types.go
  pkg/rbac/service/service.go
  pkg/rbac/types.go
  pkg/rbacgen/rbacgen.go
  pkg/rbacgen/types.go
Labels: RBAC Service, enhancement

#146 Issue-140 Implementation login servises and handlers
  cmd/ims/main.go
  pkg/ims/api/handlers/handlers.go
  pkg/ims/api/routers/router.go
  pkg/ims/models/models.go
  pkg/ims/repository/postgresql/credentials_repository.go
  pkg/ims/repository/postgresql/migrations/000002_create_access_token.down.sql
  pkg/ims/repository/postgresql/migrations/000002_create_access_token.up.sql
  pkg/ims/repository/postgresql/migrations/000007_change_table_for_access_token.down.sql
  pkg/ims/repository/postgresql/migrations/000007_change_table_for_access_token.up.sql
  pkg/ims/repository/postgresql/migrations/000008_change_access_token.down.sql
  pkg/ims/repository/postgresql/migrations/000008_change_access_token.up.sql
  pkg/ims/service/service.go
  pkg/ims/validate/data.go
  pkg/ims/validate/email.go
  pkg/ims/validate/errors.go
Labels: Identity management Service

#125 issue-94, implement group subscription
  cmd/rbac/main.go
  pkg/pubsub/client.go
  pkg/pubsub/envelope.go
  pkg/pubsub/subscriber.go
  pkg/rbac/service/service.go
Labels: MQ, enhancement

#114 issue-113, to the folder where the code is generated
  cmd/codegen/main.go
  pkg/models/ims.go
  pkg/models/rbac.go
Labels: Codegen, bug

#162 main.go for SignUp
  cmd/ims/config.go
  cmd/ims/ims-service-example-config.yaml
  cmd/ims/main.go
  pkg/ims/api/routers/router.go
Labels: Identity management Service, enhancement

#167 Implementation ChangePassword service and handlers
  api/ims/ims-api.yaml
  pkg/ims/api/handlers/handlers.go
  pkg/ims/api/routers/router.go
  pkg/ims/models/models.go
  pkg/ims/repository/postgresql/credentials_repository.go
  pkg/ims/service/service.go
  pkg/ims/validate/data.go
Labels: Identity management Service, enhancement

#163 issue-149, added unit tests for Cache Update method and fixed it
  pkg/rbac/cache.go
  pkg/rbac/cache_test.go
  pkg/rbac/types.go
Labels: RBAC Service, enhancement

#172 CORS for IMS
  cmd/ims/main.go
  go.mod
  go.sum
  pkg/ims/api/routers/router.go
Labels: Identity management Service, enhancement

#104 Admin panel implementation
  ui/package.json
  ui/src/app/admin/admin.component.html
  ui/src/app/admin/admin.component.sass
  ui/src/app/admin/admin.component.ts
  ui/src/app/admin/admin.module.ts
  ui/src/app/admin/roles.service.ts
  ui/src/app/admin/roles/add-role.html
  ui/src/app/admin/roles/roles.component.html
  ui/src/app/admin/roles/roles.component.sass
  ui/src/app/admin/roles/roles.component.ts
  ui/src/app/admin/roles/select-feature.html
  ui/src/app/app-routing.module.ts
  ui/src/app/app.component.spec.ts
  ui/src/app/app.module.ts
  ui/src/app/error-page/error-page.component.spec.ts
  ui/src/app/error-page/error-page.module.ts
  ui/src/app/landing-page/landing-header/landing-header.component.html
  ui/src/app/landing-page/landing-header/landing-header.component.sass
  ui/src/app/landing-page/landing-header/landing-header.component.spec.ts
  ui/src/app/landing-page/landing-main-content/landing-main-content.component.spec.ts
  ui/src/app/landing-page/landing-page.component.html
  ui/src/app/landing-page/landing-page.component.sass
  ui/src/app/landing-page/landing-page.component.spec.ts
  ui/src/app/landing-page/landing-page.module.ts
  ui/src/app/landing-page/landing-sidenav/landing-sidenav.component.spec.ts
  ui/src/app/models/role.ts
  ui/src/app/sign-in/authorization.service.ts
  ui/src/app/sign-in/autorization.service.spec.ts
  ui/src/app/sign-in/sign-in.module.ts
  ui/src/app/sign-in/sign-in/sign-in.component.html
  ui/src/app/sign-in/sign-in/sign-in.component.spec.ts
  ui/src/app/sign-in/sign-in/sign-in.component.ts
  ui/src/app/timetable/calendar/calendar.component.spec.ts
  ui/src/app/timetable/header/header.component.spec.ts
  ui/src/app/timetable/header/header.component.ts
  ui/src/app/timetable/in-memory-data.service.spec.ts
  ui/src/app/timetable/in-memory-data.service.ts
  ui/src/app/timetable/schedule/schedule.component.spec.ts
  ui/src/app/timetable/schedule/schedule.component.ts
  ui/src/app/timetable/search-result/search-result.component.spec.ts
  ui/src/app/timetable/search-result/search-result.component.ts
  ui/src/app/timetable/shared/timetable-http-service.service.spec.ts
  ui/src/app/timetable/shared/timetable-http.service.ts
  ui/src/app/timetable/sidebar/sidebar.component.spec.ts
  ui/src/app/timetable/sidebar/sidebar.component.ts
  ui/src/app/timetable/slider-menu/delete-dialog.html
  ui/src/app/timetable/slider-menu/slider-menu.component.spec.ts
  ui/src/app/timetable/slider-menu/slider-menu.component.ts
  ui/src/app/timetable/timetable.component.spec.ts
  ui/src/app/timetable/timetable.module.ts
  ui/src/app/timetable/timetable.service.spec.ts
  ui/src/app/timetable/timetable.service.ts
  ui/tslint.json
Labels: Timetabling service, enhancement

#177 issue 176, fixed repository.CreateRoleTmpl
  cmd/rbacgen/roleTmpl.yaml
  pkg/rbac/repository/postgres/postgres.go
Labels: RBAC Service, bug, enhancement
